.corpo{
    max-width: 100vw;
    height: 1024px;

    position: relative;

    background-image: url('../../assets/image/background1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.logoEsquerdo{
    position: absolute;

    width: 169px;
    height: 45px;
    left: 100px;
    top: 41px;
}

.texto{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testoAcima{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 62px;

    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.testoAbaixo{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 33px;

    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    margin-top: 33px;

}

.testoButton{
    width: 284px;
    height: 48px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    
    border: none;
    border-radius: 5px;

    border-radius: 5px;
    background-color: #7978D9;

    margin-top: 43px;
    cursor: pointer;
}

.login{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 513px;
    height: 535px;
    
    margin: 194px 122px 295px 0;
    background-color: #FFFFFF;
}

.formularioTesto{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    
    color: #7978D9;
}

.corFinaca{
    color: #7B61FF;
}

.labelInput{
    width: 449px;

    display: flex;
    flex-direction: column ;
    align-items: flex-start;

    gap:8px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #484848;
}

.formularioInput{
    width: 449px;
    height: 63px;
    
    background-color: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 5px;
    box-sizing: border-box;
}

.formularioButton{
    width: 449px;
    height: 48px;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    color: #FFFFFF;

    background-color: #7978D9;
    border-radius: 5px;
    cursor: pointer;
}